.netanime-side-menu {
    width: 250px;
    height: 400px;
    background-color: #1f1f20;
    position: fixed;
    right: 0px;
    top: 100px;
    border-radius: 0 5px 5px 5px;
    border: 2px solid #000;
    transform: translateX(100%);
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 20px 20px;
    z-index: 1001;
}

.netanime-side-menu .container {
    overflow: auto;
    height: 350px;
    width: 100%;
}

.netanime-side-menu button {
    background: none;
    color: #fff;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #6363664d;
    cursor: pointer;
}

.netanime-side-menu.open {
    transform: translateX(0%);
}

.netanime-side-menu-item {
    width: 50px;
    height: 50px;
    background-color: #1f1f20;
    position: absolute;
    left: -50px;
    top: -2px;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    border: 2px solid #000;
    border-right: none;
    cursor: pointer;
}

.netanime-side-menu-item img {
    width: 100%;
    height: 100%;
}

.fullscreen-player {
    position: fixed !important;
    width: 100% !important;
    height: 100vh !important;
    top: 0px !important;
    left: 0px !important;
    background-color: '#000' !important;
}